<div class="ContenedorPadre">
  <div class="registro">
    <form [formGroup]="registro" (ngSubmit)="guardarUsuarioRegistro()">
      <h1>Registrate Gratis</h1>
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="" formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="" formControlName="email" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="password"
          type="password
        "
          required
        />
      </mat-form-field>
      <button mat-button color="warn" type="submit">ENVIAR</button>
    </form>
  </div>
  <div class="login">
    <form [formGroup]="inicioSesion" (ngSubmit)="onsubmitLogin()">
      <h1>Entrar</h1>
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="" formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="password"
          type="password"
          required
        />
      </mat-form-field>
      <button mat-button color="warn" type="submit" (click)="onsubmitLogin()">
        ENVIAR
      </button>
      <!-- <mat-spinner></mat-spinner> -->
    </form>
  </div>
</div>
