.contenedorPadre {
  display: flex;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.contenedorLogin {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ec0606;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;
}

.contenedorRegistro {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ec0606;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 5%;
}
